@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

.item{
    border-radius: 200px;
    margin: 4px;
}
.item-white{
    background-color: rgba(255,255,255,.80);

}
.item-white:hover{
    background-color: rgba(255,255,255);
}

.item-yellow{
    background-color: #ffb000;


}

.item-red{
    background-color: #ff0000;


}

#container{
    background-color: #007bff;
    display: grid;
    grid-template-columns: repeat(7, 6rem);
    grid-template-rows: repeat(6, 6rem);
    justify-content: center;
    width: max-content;
    margin-top:50px;
    cursor: pointer;
    padding: 9px;

}
body{
    display: flex;
    justify-content: center;
    background-color: #DEBB7A;
    font-family: 'Alkatra', cursive;
    font-size: 45px;
    text-align: center;
    color: rgba(0,0,0,.95);
    margin-top: 100px;
}


.winner {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
}

.winner.winner-red{
    color: #ff0000;
}

.winner.winner-yellow{
    color: #ffb000;
}

#play-again-button{
    padding: 10px 20px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}



@media only screen and (max-width: 600px) {
    #container {
        grid-template-columns: repeat(7, 3rem);
        grid-template-rows: repeat(6, 3rem);
    }

    .item{
        border-radius: 200px;
        margin: 2px;
    }

    body{
        margin-top: 100px;
        display: flex;
        justify-content: center;
        background-color: #DEBB7A;
        font-family: 'Alkatra', cursive;
        font-size: 30px;
        text-align: center;
        color: rgba(0,0,0,.95);
    }
}

